*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');*{
    margin: 0;
    padding: 0;
}
.card-box{
    width:200px;
    height:320px;
    /* border:2px solid black; */
    border-radius: 20px;
    /* margin:10px; */
    box-shadow: 1px 1px 10px ;
    overflow: hidden;
}
.card-box:hover{
     box-shadow: 1px 1px 15px ;
}
.box-image img{
    width: 20;
}
.box-image{
    width:100%;
    height: 50%;
    /* border:2px solid black; */
    border-radius: 20px;

    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
   
}
#food-name{
    font-family: "Inter", sans-serif;
    font-weight: bolder;
    font-size: 1.4em;
     margin-left: 4px;
     color: red;
}

.card_content{
    margin: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
    font-family: "Inter", sans-serif;
    background-color: white;
}
#address,#rating{
    font-weight: bold;
    font-size: 1.2em;
    margin-left: 4px;
}
.menu{
    width:40vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    gap: 40px 30px;
    margin-top: 20px;
}
#Buy{
    width: 60px;
    text-align: center;
    height: 30px;
    margin: 0px auto 5px auto;
    background-color: red;
    border: none;
    color: white;
    padding: 2px;
    font-family: "Inter", sans-serif;
     font-weight: bold;
     border-radius: 20px;
}
.cards{
    width: 100vw;
    display: flex;
    justify-content: space-around;
}